.u-margin-bottom-small { 
  margin-bottom: 2rem; 
}

.u-margin-bottom-medium { 
  margin-bottom: 3rem; 
}

.u-margin-bottom-large { 
  margin-bottom: 4rem; 
}

.u-margin-bottom-x-large { 
  margin-bottom: 8rem; 
}